<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <header>
        <a href="/add.html" class="btn" style="margin: 20px; border: 2px solid black;">Add Rectangle</a>
    </header>
    <main class="container-fluid">
        <h1 class="text-center">List of Rectangles</h1>
        <div class="row justify-content-center">
            <div class="flex-container">
                <div style="display: flex; flex-wrap: wrap; justify-content: center;">
                    <table id="RectangleTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Width</th>
                                <th>Height</th>
                                <th>Color</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr th:each="rectangles : ${rectangles}">

                                <td th:text="${rectangles.uid}"></td>
                                <td> 
                                    <form th:action="@{/rectangles/edit}" method="get" class="edit-form">
                                        <input type="hidden" name="uid" th:value="${rectangles.uid}" />
                                        <button type="submit" style="border: none; background: none; text-decoration: underline;">
                                            <div>
                                                <div th:text="${rectangles.name}" style="margin-bottom: 0;"></div>
                                            </div>
                                        </button>
                                    </form>
                                </td>

                                <td th:text="${rectangles.width}"></td>
                                <td th:text="${rectangles.height}"></td>
                                <td th:text="${rectangles.color}"></td>
                                <td>
                                    <form th:action="@{/rectangles/delete}" method="post" class="delete-form">
                                        <input type="hidden" name="uid" th:value="${rectangles.uid}" />
                                        <button type="submit">Delete</button>
                                    </form>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</body>

</html>